body {
  font-family: 'Montserrat', sans-serif;
}

.search-form {
  text-align: center;
  margin-bottom: 16px;
}
.search-input {
  padding: 4px;
  margin-right: 4px;
}
.search-btn {
  padding: 4px;
}
.gallery {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px 12px;
  margin-bottom: 16px;
}
.card {
  border: 1px solid #808080;
  max-width: 360px;
}
.card-img {
  width: 360px;
  height: 200px;
}
.card-data {
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.load-btn {
  display: block;
  margin: 0 auto;
}

.loader {
  width: 250px;
  height: 80px;
  display: block;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 64px;
  height: 2.8px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: hitZak 0.6s ease-in-out infinite alternate;
}

@keyframes hitZak {
  0% {
    left: 0;
    transform: translateX(-1%);
  }
  100% {
    left: 100%;
    transform: translateX(-99%);
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
